{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>
<p>
I created this website in order to help twitter users find a reason to follow someone. I see recommendations by my twitter friends but I need something really convincing to follow a particular twitter user. Twimonial would help decide what a particular twitter user is all about.

Next time someone tweets a #FF (Follow Friday) recommendation, I want you to be able to look up testimonials for that user on Twimonial. All this cannot be done without your help though. I request you to start writing twimonials for your twitter friends and it'll help you get a few good twimonials as well!</p>

<h3>Twimonial?</h3>
<p>
Twimonial means a testimonial about a Twitter user.
</p>
{% endblock %}
