<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>Twimonial » About</title>
{{ HEAD }}
{{ config.BEFORE_HEAD_END }}
</head>
<body>
{% include "topbar.html" %}
<div id="wrap">
{% include "header.html" %}
<div id="content">
<h2>About</h2>
<p>
I created this website because I do not know why should I follow when someone tweets a list of Twitters for #FF (Follow Friday). Why would I follow them if I know nothing about them. So if we have a website which have testimonials, then you can get a better idea about this Twitter you are about to follow.
</p>

<h3>Twimonial?</h3>
<p>
Twimonial means a testimonial about a Twitter user.
</p>

</div>
{% include "footer.html" %}
</div>
{{ config.BEFORE_BODY_END }}
</body>
</html>
