{% if twimonials %}
<div>
<h3>Here is a tweet made for you to tweet on Follow Friday or other days!</h3>
<input type="button" value="Tweet it!" onclick="window.open('http://twitter.com/home?status=' + encodeURIComponent($('#followday').val() + ' ' + $('pre.tweet.ff').text()))" style="float: right"/>
<select id="followday">
<option>#FollowSunday #FS</option>
<option>#FollowMonday #FM</option>
<option>#FollowTuesday #FT</option>
<option>#FollowWednesday #FW</option>
<option>#FollowThursday #FT</option>
<option selected="selected">#Follow Friday #FF</option>
<option>#FollowSaturday #FS</option>
</select>
<pre class="tweet ff">
{% for twimonial in twimonials %}@{{ twimonial.to_user.screen_name }}{% if not forloop.last %}, {% endif %}{% endfor %} Read #twimonials at <span class="page-uri" title="Click to shorten this URI">URI</span></pre>
</div>
{% endif %}
