{% if twimonials %}
<div>
<h3>Here is a {{ config.TWEET_NAME|lower }} made for you to {{ config.TWEET_ACTION_NAME|lower }} on Follow Friday!</h3>
{% ifequal config.SERVICE_NAME "Twitter" %}<input type="button" value="{{ config.TWEET_ACTION_NAME }} it!" onclick="window.open('http://twitter.com/?status=' + encodeURIComponent($('pre.tweet').text()))" style="float: right"/>{% endifequal %}
<pre class="tweet">Follow Friday #FF {% for twimonial in twimonials %}@{{ twimonial.to_user.screen_name }}{% if not forloop.last %}, {% endif %}{% endfor %} Read {{ config.TRACKING_HASHTAG}} at <span class="page-uri" onclick="go_jmp()" title="Click to shorten this URI">URI</span></pre>
</div>
{% endif %}
