{% extends "base.html" %}

{% block title %}{{ user.screen_name }}{% endblock %}

{% block content %}
<div class="user-header">
<a class="profile-image" href="http://twitter.com/{{ user.screen_name }}"><img src="{{ user.profile_image_url }}" title="{{ twimonial.from_user.screen_name }}"/></a>
<h2>{{ user.screen_name }}</h2>
</div>

<div id="twimonials-tabs" class="jquery-ui-tabs">
<ul>
  <li><a href="#top-twimonials">Most Agreed Over Time</a></li>
  <li><a href="#latest-twimonials">Latest</a></li>
  <li><a href="#written-twimonials">Has Written</a></li>
</ul>

<div id="top-twimonials" class="twimonials">
{% if user.top_twimonials %}
{% for twimonial in user.top_twimonials %}
{% include "twimonial.html" %}
{% endfor %}
{% else %}
<div class="notice">No one writes {{ user.screen_name }} a testimonial yet</div>
{% endif %}
</div>

<div id="latest-twimonials" class="twimonials">
{% if user.latest_twimonials %}
{% for twimonial in user.latest_twimonials %}
{% include "twimonial.html" %}
{% endfor %}
{% else %}
<div class="notice">No one writes {{ user.screen_name }} a testimonial yet</div>
{% endif %}
</div>

<div id="written-twimonials" class="twimonials">
{% if user.written_twimonials %}
{% for twimonial in user.written_twimonials %}
{% include "twimonial_written.html" %}
{% endfor %}
{% else %}
<div class="notice">{{ user.screen_name }} has not written any testimonial yet</div>
{% endif %}
</div>
</div>
{% endblock %}
