{% extends "base.html" %}

{% block title %}{{ user.screen_name }}{% endblock %}

{% block content %}
<div class="user-header">
<a class="profile-image" href="http://twitter.com/{{ user.screen_name }}"><img src="{{ user.profile_image_url }}" title="{{ twimonial.from_user.screen_name }}"/></a>
<h2>{{ user.screen_name }}</h2>
</div>

<div class="jumpto_anchor"></div>
<div class="jumpto">Jump to: <a href="#top-twimonials">Most Agreed</a> &bull; <a href="#latest-twimonials">Latest</a> &bull; <a href="#written-twimonials">Has Written</a></div>

<h2 id="top-twimonials" class="twimonials">Most Agreed Over Time About {{ user.screen_name }}</h2>
<div class="twimonials">
{% if user.top_twimonials %}
{% for twimonial in user.top_twimonials %}
{% include "twimonial.html" %}
{% endfor %}
{% else %}
<div class="notice">No one writes {{ user.screen_name }} a testimonial yet</div>
{% endif %}
</div>

<h2 id="latest-twimonials" class="twimonials">Latest Testimonials About {{ user.screen_name }}</h2>
<div class="twimonials">
{% if user.latest_twimonials %}
{% for twimonial in user.latest_twimonials %}
{% include "twimonial.html" %}
{% endfor %}
{% else %}
<div class="notice">No one writes {{ user.screen_name }} a testimonial yet</div>
{% endif %}
</div>

<h2 id="written-twimonials" class="twimonials">{{ user.screen_name }} Has Written About</h2>
<div class="twimonials">
{% if user.written_twimonials %}
{% for twimonial in user.written_twimonials %}
{% include "twimonial_written.html" %}
{% endfor %}
{% else %}
<div class="notice">{{ user.screen_name }} has not written any testimonial yet</div>
{% endif %}
</div>
{% endblock %}
